.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 1rem;
    text-align: center;
    font-family: arial;
    padding: 0.5rem;
    border: 1px solid black;
    height: 17rem;
    width: 13rem;
  }
  
.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: blueviolet;
    ;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.errorMsg {
    color: red;
    padding: 1rem;
    font-size: 2rem;
}